<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Notification from %sitename%!</title>
	</head>
	<body>
		<h1>Notification from %sitename%!</h1>
		<p>
			Someone asked to reset the password for this email, but this account is disabled.
			An account may become disabled due to suspicious activity,
			and will only be opened again if a moderator manually do so.
			If you do not recognize this activity, you can just delete this email.
		</p>
	</body>
</html>
